* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app_header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}
.app_header {
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
}

/* Here 0.9 indicates that app_left occupies 90% of the whole screen */
.app_left {
  flex: 0.9;
}

.app_stats {
  display: flex;
  justify-content: space-between;
}

/* media query is used to bring responsive UI */
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
